<ul class="list-unstyled">
    <li>
    <div class = "row">
        <div class="col-md-8">
            <h3> We have found <%= @workflow_informations.length %> results</h3>
        </div>
        <div class="col-md-4">
            <br/>
            <div class="dropdown">
                <button id="sortBtn" class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Sort: Best match
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="sortBtn">
                    <li><a>Highest score</a></li>  
                    <li><a>Lowest score</a></li>
                    <li><a>Most user</a></li>
                    <li><a>Fewest user</a></li>
                    <li><a>Recently update</a></li>
                    <li><a>Least recently update</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr/>
        </li>
        <% @workflow_informations.each do |workflow_information| %>
            <li>
            <h3>
                <%= link_to workflow_information.name, workflow_information_path(workflow_information), 'data-no-turbolink' => true %>
            </h3>
            <p>
            <%= workflow_information.introduction %>
            </p>
            <div>
                <p>
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <% if workflow_information.author != nil %>
                    <%= workflow_information.author.user_name %>
                <% end %>
                &nbsp;
                <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
                <% if workflow_information.category != nil %>
                    <%= workflow_information.category.name %>
                <% end %>
                &nbsp;
                <!--
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                4
                &nbsp;
                -->
                <% workflow_information_same_name = @workflow_informations_without_group.where(:name => workflow_information.name)%>
                <% if workflow_information_same_name.size > 1%>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <%= workflow_information_same_name.first.version_name %>
                    ...
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <%= workflow_information_same_name.last.version_name %>
                <% else %>
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                    <%= workflow_information_same_name.first.version_name %>
                <% end %>
                </p>
            </div>
            <div>
                <% workflow_information.workflow_information_and_tags.each do |tag| %>
                    <% if tag.workflow_tag != nil %>
                    <span class="label label-default"><%= raw(tag.workflow_tag.name) %></span>
                    <% end %>
                <% end %>
            </div>
            </li>
            <hr/>
        <% end %>
    </ul>
