
<%= form_for :process_information, :html => {:class => "form-horizontal", :role => "form"}, url:process_informations_path do |f|%>

    <div class="form-group">
        <div class="col-md-12">
            <label> Version operation </label>
        </div>
        <div class="col-md-12">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                    Create a new version based on origin.
                </label>
            </div>
        </div>
        <div class="col-md-12">
            <div class="radio">
                <label>
                    <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3">
                    Save as a new model.
                </label>
            </div>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <label class="col-md-12 ">Model name</label>
        <div class="col-md-12">
            <%= f.text_field :name, :class => "form-control", :placeholder => "New model name" %>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Model introduction <small class="text-muted">(optional)</small></label>
        <div class="col-md-12">
            <%= f.text_area :introduction, :class => "form-control", :placeholder => "New model introduction" %>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12 ">Version</label>
        <div class="col-md-12">
            <%= f.text_field :version, :class => "form-control", :placeholder => "New version" %>
        </div>
        <hr/>

    </div>
    <hr/>
    <div class="form-group">
        <!-- Button trigger modal -->
        <div class="col-md-2">
            <%= f.submit :"Last", :class => "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-offset-6 col-md-2">
            <%= f.submit :"Save", :class => "btn btn-primary btn-block" %>
        </div>
        <div class="col-md-2">
            <%= f.submit :"Publish", :class => "btn btn-primary btn-block" %>
        </div>
    </div>
<% end %>
