<table class="table table-bordered">
    <tr>
        <th rowspan="4">Basic information</th>
        <th> Model name</th>
        <td><%= @process_information.name %></td>
    </tr>
    <tr>
        <th>Model introduction</th>
        <td><%= @process_information.introduction %></td>
    </tr>
    <tr>
        <th>Category</th>
        <td><%= @category_name %></td>
    </tr>

    <tr>
        <th>Tag</th>
        <td>
            <span class="label label-default">Tag 1</span>
            <span class="label label-default">Tag 2</span>
            <span class="label label-default">Tag 3</span>
        </td>
    </tr>

    <tr>
        <th rowspan="5">Jurisdiction</th>
        <th>Author</th>
        <td><%= @process_information.author %></td>
    </tr>
    <tr>
        <th>Last editor</th>
        <td><%= @process_information.author %></td>
    </tr>
    <tr>
        <th>Edit jurisdiction</th>
        <td><%= @process_information.author %></td>
    </tr>
    <tr>
        <th>Delete jurisdiction</th>
        <td><%= @process_information.author %></td>
    </tr>
    <tr>
        <th>Execute jurisdiction</th>
        <td>All</td>
    </tr>

    <tr>
        <th rowspan="5">Version</th>
        <th>Version</th>
        <td><%= @process_information.version %></td>
    </tr>
    <tr>
        <th>Create time</th>
        <td><%= @process_information.createtime %></td>
    </tr>

    <tr>
        <th>Update time</th>
        <td><%= @process_information.createtime %></td>
    </tr>
    <tr>
        <th>Last version</th>
        <td> </td>
    </tr>
    <tr>
        <th>Functional description</th>
        <td><%= @process_information.functional_description %></td>
    </tr>

    <tr>
        <th rowspan="1">Algorithm</th>
        <th>Algorithm</th>
        <td>
            <span class="label label-default">Algorithm 1</span>
        </td>
    </tr>



</table>

