<!-- 页面标题 -->
<div class="container">
    <h1 class="text-center" >
        <%= @process_information.name %>
    </h1>
    <hr/>
</div>

<!-- 表单 -->
<div class="container">
    <div class = "row">
        <div class="col-md-2">
            <ul class="nav nav-stacked nav-pills" data-spy="affix" role="tablist">
                <!--
                <li>
                <%= link_to 'Show', process_information_path %>
                </li>
                <ul class="nav nav-stacked" data-spy = "affix" data-offset-top="25" >
                    -->
                    <li role="presentation" class="active"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">&nbsp; &nbsp; Diagram preview</a></li>
                    <li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">&nbsp; &nbsp; Basic Information</a></li>
                    <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">&nbsp; &nbsp; Comment</a></li>
                    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">&nbsp; &nbsp; Execution history</a></li>
                    <li role="presentation"><a href="#training" aria-controls="training" role="tab" data-toggle="tab">&nbsp; &nbsp; Model training</a></li>
                    <li role="presentation"><a href="#running" aria-controls="running" role="tab" data-toggle="tab">&nbsp; &nbsp; Process excution</a></li>
                    <!--
                </ul>
                -->
            </ul>
        </div>

        <div class="col-md-9">
            <div class = "row">
                <!-- Nav tabs -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="preview">
                        <%= render '/process_informations/show_diagram' %>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="training">
                        <%= render '/process_informations/show_training' %>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="information">
                        <%= render '/process_informations/show_info' %>
                        <!--
                        <%= link_to '删除', process_information_path(@process_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block", role:"button" %>
                        -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="comment">
                        <%= render '/process_informations/show_comment' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="history">
                        <%= render '/process_informations/show_history' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="running">
                        <%= render '/process_informations/show_running' %>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div> <!-- /container -->
<div class="container">
    <hr>
    <footer>
    <p>© SJTU 2017</p>
    </footer>
</div> <!-- /container -->

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">New case</h4>
            </div>
            <div class="modal-body">
                <p>
                <div class="form-group">
                    <label>Case description</label>
                    <textarea type="text" class="form-control" placeholder="Description"></textarea>
                </div>
                <div class="form-group">
                    <label for="caseInputFile">Upload input file</label>
                    <input type="file" id="caseInputFile">
                </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>
</div>


