<style type="text/css">
    /*
    #tag{width:700px; height:30px; text-align:left; padding:10px; border:2px #E0E0E0 solid; line-height:25px;}
    #*/
    /*input post tab*/
    div.radius_shadow{border:1px solid #E0E0E0;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;padding:5px;font-size:12px;background:#fff;}
    span#radius{display:inline-block;float:none;font-size:12px;padding:2px 5px;margin:-2px 5px 15px;border:1px solid #E0E0E0; background-color:#D0D0D0;-moz-border-radius:5px;-khtml-border-radius:5px;-webkit-border-radius:5px;border-radius: 5px;color:#000;}
    .tabinput{margin-left:5px;border:1px solid #eee;border-radius:1px;padding:1px;}
    .tabinput:focus{border-color:#ddd;}
    a#deltab{cursor:pointer;display:inline-block;color:#FFFFFF;margin-left:5px;font-weight:bold;}
    a#deltab:hover{color:#D2D2D2;text-decoration:none;}
    '''
    #getTab{ margin-top:10px;border:1px solid #E0E0E0; background-color:#F0F0F0; padding:5px 10px; cursor:pointer;}
    '''
</style>
<script type="text/javascript">
    $(function(){
            $("#tag").tabControl({maxTabCount:10,tabW:80,tabMaxLen:100},'<%= @workflow_tag_str %>');
            $(".getTab").click(function(){
                var sucaijiayuan = $("#tag").getTabVals();
                $("#tag_content input").val(sucaijiayuan.join(","));
                });
            });
</script>
<%= form_for :workflow_information, method: :patch, :html => {:class => "form-horizontal", :role => "form"}, url:workflow_information_path do |f|%>
    <!--
    <div class="form-group">
        <label class="col-md-12">Model introduction</label>
        <div class="col-md-12">
            <%= f.text_area :introduction, :class => "form-control", :placeholder => "", :value=>@workflow_information.introduction %>
        </div>
    </div>
    -->
    <!--
    <div class="form-group">
        <label class="col-md-2 control-label">Author</label>
        <div class="col-md-4">
            <%= f.text_field :author, :class => "form-control", :placeholder => "Username" %>
        </div>
        <label class="col-md-1 control-label">Create time</label>
        <div class="col-md-4">
            <%= f.text_field :createtime, :class => "form-control", :value => Time.now.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>
    </div>
    -->

    <div class="form-group">
        <label class="col-md-12">Category</label>
        <div class="col-md-6">
            <%=f.select :category_id, @categories, 
                {
                :selected => @workflow_information.category_id},
                { class: "form-control" } 
            %>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-12">Tag</label>
        <div class="col-md-12">
            <div class="form-inline">
                <div id="tag"></div>
                <div id="tag_content">
                    <%= f.fields_for :workflow_tag do |ftag| %> 
                        <%= ftag.hidden_field :name, :class => "form-control"%>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
    <%= f.fields_for :wiki_and_workflow_information do |subf| %> 
    <div class="form-group">
        <label class="col-md-12">Task</label>
        <div class="col-md-12">
            <%=subf.select :wiki_page_id, WikiPage.all.collect{|c|[ c.title, c.id ]}, 
                {:selected => @workflow_information.wiki_and_workflow_informations.first == nil ? 1 : @workflow_information.wiki_and_workflow_informations.first.wiki_page_id},
                { class: "form-control" } 
            %>
            <h4><small>
                <%=(wt 'Do not exist the task you need?', :default => 'Do not exist the task you need? <a href="%{new_url}" target="_blank">Create one</a>', :new_url => new_task_path ).html_safe %>  
            </small></h4>
        </div>
    </div>
    <% end %>


    <hr/>

    <div class="form-group">
        <label class="col-md-12 ">Version description</label>
        <div class="col-md-12">
            <%= f.text_area :detial_description, :class => "form-control", :rows => "5" , :value => @workflow_information.detial_description %>
        </div>
    </div>
    <hr/>
    <div class="form-group">
        <!-- Button trigger modal -->
        <div class="col-md-offset-9 col-md-3">
            <%= f.submit :"Save Information", :class => "btn btn-primary btn-block getTab" %>
        </div>
    </div>

<% end %>
