
<ul class="list-group">
    <% @workflow_information.workflow_comments.each do |comment| %>
        <li class="list-group-item">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object" src="/assets/user.jpg" alt="user" style="width: 50px; height: 50px;">
                </a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">Comment</h4>
                <p>
                <%= raw(comment.body) %>
                <small>Author:Admin &nbsp;
                Score: <%= comment.score %> &nbsp;
                <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S")%>
                </small>
                </p>
            </div>
        </div>
        </li>

    <% end %>
    <li class="list-group-item">
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="/assets/user.jpg" alt="user" style="width: 50px; height: 50px;">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">New comment</h4>
            <%= form_for([@workflow_information, @workflow_information.workflow_comments.build]) do |f| %>

                <%= f.text_field :score, :class => "rating", :value => "5", :type => "number", :min=>"0", :max=>"5", :step=>"1", :"data-size" => "xs" %>
                <%= f.text_area :body, :class => "tinymce", :rows => 5, :cols => 120 %>
                <%= tinymce %>
                <%= f.submit:"create comment", :class =>"btn btn-default" %>
            <% end %>
        </div>
    </div>
    </li>

</ul>

