<table class="table table-bordered">
    <tr>
        <th rowspan="4">Basic information</th>
        <th> Model name</th>
        <td><%= @workflow_information.name %></td>
    </tr>
    <tr>
        <th>Model introduction</th>
        <td><%= @workflow_information.introduction %></td>
    </tr>
    <tr>
        <th>Category</th>
        <td>
            <% if @workflow_information.category != nil %>
                <%= @workflow_information.category.name %>
            <% end %>
        </td>

    </tr>

    <tr>
        <th>Tag</th>
        <td>
        <% @workflow_information.workflow_information_and_tags.each do |tag| %>
            <% if tag.workflow_tag != nil %>
            <span class="label label-default"><%= raw(tag.workflow_tag.name) %></span>
            <% end %>
        <% end %>
        </td>
    </tr>

    <tr>
        <th rowspan="5">Authorization</th>
        <th>Author</th>
        <td>
            <% if @workflow_information.author != nil %>
                <%= @workflow_information.author.user_name %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>Last editor</th>
        <td>
            <% if @workflow_information.last_editor != nil %>
            <%= @workflow_information.last_editor.user_name %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>Edit user group</th>
        <td>
            <% if @workflow_information.workflow_privilege != nil and @workflow_information.workflow_privilege.edit_department != nil %>
                <%= @workflow_information.workflow_privilege.edit_department.name %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>Delete user group</th>
        <td>
            <% if @workflow_information.workflow_privilege != nil and @workflow_information.workflow_privilege.delete_department != nil %>
                <%= @workflow_information.workflow_privilege.delete_department.name %>
            <% end %>
        </td>
    </tr>
    <tr>
        <th>Execute user group</th>
        <td>
            <% if @workflow_information.workflow_privilege != nil and @workflow_information.workflow_privilege.execute_department != nil %>
                <%= @workflow_information.workflow_privilege.execute_department.name %>
            <% end %>
        </td>
    </tr>

    <tr>
        <th rowspan="4">Version</th>
        <th>Version</th>
        <td><%= @workflow_information.version_name %></td>
    </tr>
    <tr>
        <th>Create time</th>
        <td><%= @workflow_information.created_at.strftime("%Y-%m-%d %H:%M:%S") %></td>
    </tr>

    <tr>
        <th>Update time</th>
        <td><%= @workflow_information.updated_at.strftime("%Y-%m-%d %H:%M:%S")  %></td>
    </tr>
    <!--
    <tr>
        <th>Last version</th>
        <td> </td>
    </tr>
    -->
    <tr>
        <th>Functional description</th>
        <td><%= @workflow_information.detial_description %></td>
    </tr>

    <!--
    <tr>
        <th rowspan="1">Algorithm</th>
        <th>Algorithm</th>
        <td>
            <span class="label label-default">Algorithm 1</span>
        </td>
    </tr>
    -->



</table>

