<!-- 页面标题 -->

<br/>
<br/>

<!-- 表单 -->
<div class="container">
    <div class = "row">
        <div class="col-md-2">
            <div class = "row">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-2"> </div>
                <h3>&nbsp;</h3>
                <h3>&nbsp;</h3>

                <ul class="nav nav-stacked nav-pills" data-spy="affix" role="tablist">
                    <li role="presentation" class="active"><a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">Diagram preview</a></li>
                    <li role="presentation"><a href="#information" aria-controls="information" role="tab" data-toggle="tab">Basic Information</a></li>
                    <li role="presentation"><a href="#version" aria-controls="version" role="tab" data-toggle="tab">All version</a></li>
                    <li role="presentation"><a href="#usecase" aria-controls="usecase" role="tab" data-toggle="tab">Use case</a></li>
                    <li role="presentation"><a href="#history" aria-controls="history" role="tab" data-toggle="tab">Execution history</a></li>
                    <li role="presentation"><a href="#training" aria-controls="training" role="tab" data-toggle="tab">Model training</a></li>
                    <li role="presentation"><a href="#running" aria-controls="running" role="tab" data-toggle="tab">Process excution</a></li>
                    <li role="presentation"><a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">Comment</a></li>
                </ul>
            </div>
        </div>

        <div class="col-md-9">

            <div class = "row">
                <div class="col-md-8">
                    <div class = "row">
                        <h3 >
                            <%= @workflow_information.name %>
                            <small><%= @workflow_information.version_name %></small>
                        </h3>
                    </div>
                </div>

                <div class="col-md-1">
                    <div class = "row">
                        <br/>
                        <%= link_to 'Training', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block btn-sm", role:"button" %>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class = "row">
                        <br/>
                        <%= link_to 'Execute', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block btn-sm", role:"button" %>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class = "row">
                        <br/>
                        <%= link_to 'Edit', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block btn-sm", role:"button" %>
                    </div>
                </div>
                <div class="col-md-1">
                    <div class = "row">
                        <br/>
                        <%= link_to 'Delete', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block btn-sm", role:"button" %>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class = "row">
                        <h4>
                            <small><%= @workflow_information.introduction %></small> 
                        </h4>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class = "row">
                <!-- Nav tabs -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="preview">
                        <%= render '/workflow_informations/show_diagram' %>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="training">
                        <%= render '/workflow_informations/show_training' %>
                    </div>


                    <div role="tabpanel" class="tab-pane" id="information">
                        <%= render '/workflow_informations/show_info' %>
                        <!--
                        <%= link_to '删除', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block", role:"button" %>
                        -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="comment">
                        <%= render '/workflow_informations/show_comment' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="history">
                        <%= render '/workflow_informations/show_history' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="running">
                        <%= render '/workflow_informations/show_running' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="version">
                        <!--
                        <%= render '/workflow_informations/table' %>
                        -->
                    </div>
                    <div role="tabpanel" class="tab-pane" id="usecase">
                        <%= render '/workflow_informations/show_usecase' %>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div> <!-- /container -->
<div class="container">
    <hr>
    <footer>
    <p>© SJTU 2017</p>
    </footer>
</div> <!-- /container -->



