<!-- 页面标题 -->

<br/>
<br/>

<!-- 表单 -->
<div class="container" id="all-page">
    <div class = "row">
        <div class="col-md-2">
            <div class = "row">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>

                    <div class="box-body">
                        <div class="tab-custom">
                            <ul class="nav nav-tabs nav-bordered" data-spy="affix" role="tablist">
                                <li role="presentation" class="
                                    <%= 'active' if (@active_page == nil or @active_page == "preview") %>
                                ">
                                <a href="#preview" aria-controls="preview" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Diagram preview
                                </a>
                                </li>
                                <li role="presentation">
                                <a href="#information" aria-controls="information" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Basic Information
                                </a>
                                </li>
                                <li role="presentation">
                                <a href="#version" aria-controls="version" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> All versions
                                </a>
                                </li>
                                <li role="presentation">
                                <a href="#usecase" aria-controls="usecase" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Running cases
                                </a>
                                </li>
                                <li role="presentation">
                                <a href="#history" aria-controls="history" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-folder-close" aria-hidden="true"></span> Execution history
                                </a>
                                </li>
                                <li role="presentation", class="
                                    <%= 'active' if @active_page == "comment" %>
                                ">
                                <a href="#comment" aria-controls="comment" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Comments
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class = "row">
                <div class="col-md-7">
                    <div class = "row">
                        <h3 >
                            <%= @workflow_information.name %>
                            <small><%= @workflow_information.version_name %></small>
                        </h3>
                    </div>
                </div>

                <div class="col-md-5">
                    <br/>
                    <div class = "row">
                        <div class="btn-group btn-group-justified" role="group">
                        <%= link_to workflow_information_path(@workflow_information), class: "btn btn-primary btn-block btn-sm disabled", role:"button" do %>
                            <span class="glyphicon glyphicon-scale" aria-hidden="true"></span> Train
                        <% end %>
                        <!-- link_to process_execute_path(:workflow_id => @workflow_information.id), class: "btn btn-info btn-block btn-sm", role:"button" do -->
                        <%= link_to process_index_path(:workflow_information_id => @workflow_information.id), class: "btn btn-info btn-block btn-sm", method: :post, role:"button" do %>
                            <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Execute
                        <% end %>
                        <%= link_to edit_workflow_information_path(@workflow_information.id), class: 'btn btn-success btn-block btn-sm', role:"button" do %>
                            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Edit
                        <% end %>
                        <%= link_to workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger btn-block btn-sm", role:"button" do %>
                            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete
                        <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class = "row">
                        <h4>
                            <small><%= @workflow_information.introduction %></small> 
                        </h4>
                        <hr/>
                    </div>
                </div>
            </div>
            <div class = "row">
                <!-- Nav tabs -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane 
                        <%= 'active' if (@active_page == nil or @active_page == "preview") %>
                        " id="preview">
                        <%= render '/workflow_informations/show_diagram' %>
                    </div>

                    <div role="tabpanel" class="tab-pane" id="information">
                        <%= render '/workflow_informations/show_info' %>
                        <!--
                        <%= link_to '删除', workflow_information_path(@workflow_information), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-primary btn-block", role:"button" %>
                        -->
                    </div>
                    <div role="tabpanel" class="tab-pane
                        <%= 'active' if @active_page == "comment" %>
                        " id="comment">
                        <%= render '/workflow_informations/show_comment' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="history">
                        <%= render '/workflow_informations/show_history' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="version">
                        <%= render '/workflow_informations/show_version' %>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="usecase">
                        <%= render '/workflow_informations/show_usecase' %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->



