<div class="media">
    <div class="media-left">
        <a href="#">
            <img src="/assets/user.png" alt="" style="width: 40px; height: 40px;">
        </a>
    </div>
    <div class="media-body">
        <h4 class="media-heading">
            <%= link_to topic.title, homeland.topic_path(topic)%>
        </h4>
        <h4>
            <small>
                <a href="" class="aw-user-name" data-id="78"><%= topic.user.user_name %></a> 
                <span class="text-color-999">, <%= topic.replies_count %> replies, <%= topic.activity_at %></span>
                <span class="text-color-999 related-topic hide"> Task <%= node_tag(topic.node) %> </span>
            </small>
        </h4>
    </div>
</div>

<hr/>
