<div class="btn-group btn-group-justified" role="group" aria-label="...">
    <% @node = @page.homeland_nodes.first%>
    <!--
    <% if @node != nil %>
        <%= link_to( wt( 'Forum' ), homeland.node_topics_path(@node.id), class:"btn btn-default btn-sm", role:"button") %>
    <% end %>
    -->
    <%= link_to( wt( 'List all' ), tasks_all_path, class:"btn btn-info btn-sm", role:"button") %>
    <% if edit_allowed? %>
        <%= link_to( wt( 'Edit' ), wiki_page_edit_path(@page), class:"btn btn-primary btn-sm", role:"button" ) %>
    <% end %>
    <% if history_allowed? %>
        <%= link_to( wt( 'History' ), wiki_page_history_path(@page), class:"btn btn-warning btn-sm", disabled:"disabled", role:"button" ) %>
    <% end %>
    <% if destroy_allowed? %>
        <%= link_to( wt( 'Destroy' ), wiki_page_path(@page), :method => :delete, :confirm => "Destroyed page can't be restored. Are you sure?", class:"btn btn-danger btn-sm", role:"button" ) %>
    <% end %>
</div>
