
<br/>
<br/>

<!-- 表单 -->
<div class="container">
    <div class = "row">
        <div class="col-md-2">
            <div class = "row">
                <div class="col-md-12">&nbsp;</div>
                <div class="col-md-12">
                    <h3>&nbsp;</h3>
                    <h3>&nbsp;</h3>

                    <div class="box-body">
                        <div class="tab-custom">
                            <% @active_page = params[:active_page] %>
                            <ul class="nav nav-tabs nav-bordered" data-spy="affix" role="tablist">
                                <li role="presentation" class="
                                <%= 'active' if (@active_page == nil or @active_page == "content") %>
                                ">
                                <a href="#content" aria-controls="content" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Introduction
                                </a>
                                </li>
                                <li role="presentation" class="
                                <%= 'active' if (@active_page == "performance") %>
                                ">
                                <a href="#performance" aria-controls="performance" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Performance
                                </a>
                                </li>
                                <li role="presentation" class="
                                <%= 'active' if (@active_page == "model") %>
                                ">
                                <a href="#model" aria-controls="model" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> Model
                                </a>
                                </li>
                                <li role="presentation" class="
                                <%= 'active' if (@active_page == "forum") %>
                                ">
                                <a href="#forum" aria-controls="forum" role="tab" data-toggle="tab">
                                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span> Forum
                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class = "row">
                <div class="col-md-12">
                    <h1><%=h @page.title %></h1>
                </div>
                <div class="col-md-6">
                    <h4>
                        <small><%= wiki_page_info %></small>
                    </h4>
                </div>
                <div class="col-md-6">
                    <%= wiki_page_actions %>
                </div>
            </div>
            <hr/>
            <div class = "row">
                <!-- Nav tabs -->
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane 
                        <%= 'active' if (@active_page == nil or @active_page == "content") %>
                        " id="content">
                        <%= render "base_wiki_pages/show_content" %>
                    </div>

                    <div role="tabpanel" class="tab-pane
                        <%= 'active' if (@active_page == "performance") %>
                        " id="performance">
                        <%= render "base_wiki_pages/show_performance" %>
                    </div>
                    <div role="tabpanel" class="tab-pane
                        <%= 'active' if (@active_page == "model") %>
                        " id="model">
                        <%= render "base_wiki_pages/show_model" %>
                    </div>
                    <div role="tabpanel" class="tab-pane
                        <%= 'active' if (@active_page == "forum") %>
                        " id="forum">
                        <%= render "base_wiki_pages/show_forum" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- /container -->



