<!-- 页面标题 -->

<br/>
<br/>
<!-- 表单 -->
<div class="container">
    <div class = "row">
        <div class="col-md-offset-2 col-md-8">
            <div class = "row">
                <h3 >
                    Execute 
                    <%= @workflow_information.name %>
                    <small><%= @workflow_information.version_name %></small>
                </h3>

                <h4>
                    <small><%= @workflow_information.introduction %></small> 
                </h4>
                <hr/>
            </div>
            <div class = "row">
                <ul class="nav nav-justified step step-square"  >
                    <% @active_page = params[:active_page] == nil ? "input" : params[:active_page] %>
                    <li role="presentation" 
                    class="<%= 'active' if @active_page == 'input' %>"
                    >
                    <a href="#input" aria-controls="input" role="tab" data-toggle="tab">Input data</a>
                    </li>
                    <li role="presentation" 
                    class="<%= 'active' if @active_page == 'param' %>"
                    >
                    <a href="#param" aria-controls="param" role="tab" data-toggle="tab">Adjust parameters</a>
                    </li>
                    <li role="presentation"
                    class="<%= 'active' if @active_page == 'running' %>"
                    >
                    <a href="#running" aria-controls="running" role="tab" data-toggle="tab">Running</a>
                    </li>
                    <li role="presentation"
                    class="<%= 'active' if @active_page == 'output' %>"
                    >
                    <a href="#output" aria-controls="output" role="tab" data-toggle="tab">Output data</a>
                    </li>
                    <li role="presentation"
                    class="<%= 'active' if @active_page == 'share' %>"
                    >
                    <a href="#share" aria-controls="share" role="tab" data-toggle="tab">Share</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <br/>
                <br/>
                <div class="col-md-offset-2 col-md-8">

                <!--
                <div class="col-md-12">
                -->
                    <div class="row">

                        <div class="tab-content">

                            <div role="tabpanel" class="tab-pane 
                                <%= 'active' if @active_page == 'input' %>
                                " id="input">
                                <%= form_for :upload, :html => {:class => "form-horizontal", :role => "form"}, url: process_upload_path do |f|%>
                                    <div class="form-group">
                                        <label class="col-md-12">Input data from local file</label>
                                        <div class="col-md-12">
                                            <%= f.hidden_field :workflow_id, :value => params[:workflow_id] %>
                                            <%= f.file_field :file%>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                            <%= f.submit :"Upload", :class => "btn btn-primary btn-block" %>
                                        </div>
                                    </div>
                                <% end %>
                            </div><!-- tab -->

                            <div role="tabpanel" class="tab-pane 
                                <%= 'active' if @active_page == 'param' %>
                                " id="param">
                                
                                <%= form_for :running_param, method: :post, :html => {:class => "form-horizontal", :role => "form"}, url: process_execute_path do |f|%>
                                    <!--
                                    <div class="form-group">
                                        <label class="col-md-12">Choose parameters</label>
                                        <div class="col-md-6">
                                            <select class="form-control">
                                                <option> </option>
                                                <option>Algorithm A result 1</option>
                                                <option>Algorithm B result 2</option>
                                            </select>
                                        </div>
                                        <br/>
                                    </div>
                                    -->
                                    <!-- 临时指定workflow显示的参数 -->
                                    <% if params[:workflow_id] == "123" %>
                                        <div class="form-group">
                                            <label class="col-md-12">Number of clusters</label>
                                            <div class="col-md-6">
                                                <%= f.hidden_field :workflow_id, :value => params[:workflow_id] %>
                                                <%= f.text_field :num, :class => "form-control" %>
                                            </div>
                                            <br/>
                                        </div>
                                    <% end %>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <%= f.submit :"Run", :class => "btn btn-default btn-block" %>
                                        </div>
                                    </div>

                                <% end %>
                            </div>

                            <div role="tabpanel" class="tab-pane 
                                <%= 'active' if @active_page == 'running' %>
                                " id="running">
                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div class="progress">
                                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                    60%
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-9">
                                            <label> Now running <%= @refresh_info %></label>
                                        </div>
                                        <div class="col-md-3">
                                            <%= link_to 'Refresh', process_execute_path(:workflow_id => params[:workflow_id], :active_page => "running"), class:"btn btn-primary btn-block", role:"button" %>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- tab -->

                            <div role="tabpanel" class="tab-pane 
                                <%= 'active' if @active_page == 'output' %>
                                " id="output">

                                <form class="form-horizontal" role="form">
                                    <div class="form-group">
                                        <label class="col-md-12">Output filename</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control" placeholder="Algorithm A output i">
                                        </div>
                                        <div class="col-md-3">
                                            <button class="btn btn-default btn-block">Download</button>
                                        </div>
                                    </div>
                                </form>
                            </div><!-- tab -->

                            <div role="tabpanel" class="tab-pane 
                                <%= 'active' if @active_page == 'share' %>
                                " id="share">
                                <%= form_for :process_information, method: :post, :html => {:class => "form-horizontal", :role => "form"}, url: process_path do |f|%>
                                    <div class="form-group">
                                        <label class="col-md-12">Running case name</label>
                                        <div class="col-md-12">
                                            <%= f.hidden_field :workflow_information_id, :value => params[:workflow_id] %>
                                            <%= f.text_field :name, :class => "form-control" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">Running case description</label>
                                        <div class="col-md-12">
                                            <%= f.text_area :description, :class => "form-control", :row => "5" %>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-4">
                                            <%= f.submit :"Save running case", :class => "btn btn-primary btn-block" %>
                                        </div>
                                    </div>
                                <% end %>
                            </div><!-- tab -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
