<!DOCTYPE html>
<!-- saved from url=(0041)http://v3.bootcss.com/examples/jumbotron/ -->
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="http://v3.bootcss.com/favicon.ico">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>

        <!-- Latest compiled and minified Locales -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
        <title>Data Analysis Process Modeling Platform</title>

        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <%= link_to 'ISDSP', root_path, :class => "navbar-brand" %>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>
                    <%= link_to 'Search', root_path %>
                    </li>
                    <li>
                    <%= link_to 'Create', new_workflow_information_path %>
                    </li>
                    <li class="dropdown">
                    <a href="./View.htm" class="dropdown-toggle" data-toggle="dropdown">History <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><%= link_to 'Model', history_model_path %></li>
                        <li><%= link_to 'Use case', history_use_case_path %></li>
                        <li><%= link_to 'Running record', history_model_path %></li>
                    </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                    <span class="glyphicon glyphicon-user" aria-hidden="false"></span>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Username <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a>Settings</a></li>
                        <li><a>Sign out</a></li>
                    </ul>
                    </li>
                    <ul>
                    </div><!--/.navbar-collapse -->
                </div>
                </nav>

                <%= yield %>

            </body>
        </html>

